In [1]:
from tqdm import tnrange, tqdm_notebook
import collections
import math
import numpy as np
from collections import defaultdict
import threading
import functions as f
import networkx as nx
import pandas as pd

In [44]:
graph = f.graph_dict()

In [46]:
graph['52']

['401135', '1069112', '1163551']

In [47]:
print(graph['1069112'])

['1060396', '1061304', '1062611', '1066969', '1069008', '1069113', '1069258', '1069275', '1656982']

#### The graph is not undirected because the node 52 has edge with 1099112 and the reverse is not true

In [3]:
#We want to figure out the edges of the graph
edges = []
for e in graph:
    a = graph[e]
    for i in range(len(a)):
        edges.append(a[i])

In [4]:
len(edges) #2645247

2645247

In [5]:
len(graph.keys())
#FOR SURE DIRECTED GRAPH

428957

In [9]:
list1= list()
with open("wiki-topcats-reduced.txt") as f:
        for line in f:
            list1.append(line.strip().split("\t"))

In [10]:
#We want to figure out the nodes of the graph
nodes = []
for e in list1:
    nodes.append(e[0])
    nodes.append(e[1])
nodes=set(nodes)

In [11]:
len(nodes) #461193

461193

In [12]:
#Average Node Degree
count = 0
for lst in graph.values():
    count += len(lst)
avgNodeDegree = count/len(graph.keys())

In [13]:
avgNodeDegree

6.1666950300379755

In [14]:
#Density
dense = len(edges)/(len(nodes)*(len(nodes)-1))
dense

1.2436602635647606e-05

## Distance-Rank

In [2]:
G, category_dict=f.create_graph_and_dict()
category_list = list(category_dict.keys())
input_category='Indian_films'

In [8]:
# Below created the list of lists for the first 16 categories 
auxiliary_list = list(category_dict.keys())
auxiliary_list.remove(input_category)
i=0
lst=[]
while i < 16:
    lst.append(auxiliary_list[i:i+4])
    i+=4

#this is the next list
lst_2=[]
while i<32:
    lst_2.append(auxiliary_list[i:i+4])
    i+=4


#### Threads
#### Below multi-threading is used to facilitate the execution of the BFS algorithm, in order to find the distances between the category that we chosen and the others. 
#### As the input was too large for BFS function . Multithreading has been used for running the same method for different categories at the same time, in order to obtain fast result instead of run each time the method for one category. Four threads are created to access to the BFS function.  Each time that the function is called it computes four categories (we decided this number for avoiding the Memory Error and to overload too much each thread.) The same for the procedure used for calling threads: we decided to call four thread per procedure for the same reason. 

#### res list was the resources that keep all the output of threads. As soon as the thread finished, the res list has been updated.

In [5]:
res_list = []
def threadGraph(lst):
    res_list.append(f.distance_graph(G,input_category, lst,category_dict))

threads = []
#four threads are created here
for a in range(4):
    t = threading.Thread(name = a, target = threadGraph,
                       args = [lst[a]])
    
    threads.append(t)
    t.start()
Graphdf=pd.DataFrame()
for i in res_list1:
    Graphdf1=pd.DataFrame(i)
    Graphdf=Graphdf.append(Graphdf1)
Graphdf.to_csv("Graph1.csv",index=False)

In [36]:
Graphdf1

                                        0         1
0                  English-language_films  6.000000
1                          American_films       inf
2            Fellows_of_the_Royal_Society  8.000000
3               People_from_New_York_City  7.000000
0                   Black-and-white_films  7.000000
1                   Year_of_birth_missing       inf
2  Place_of_birth_missing_(living_people)  8.000000
3                  Article_Feedback_Pilot  6.000000
0              Asteroids_named_for_people       inf
1                 English-language_albums  7.000000
2               English_television_actors  6.000000
3                           British_films  6.000000
0                           American_Jews  7.000000
1              American_television_actors  6.000000
2                    American_film_actors       inf
3                            Debut_albums  7.000000

In [10]:
res_list1 = []
def threadGraph1(lst):
    res_list1.append(f.distance_graph(G,input_category, lst,category_dict))

threads = []
for a in range(4):
    t = threading.Thread(name = a, target = threadGraph1,
                       args = [lst_2[a]])    
    threads.append(t)
    t.start()
Graphdf=pd.DataFrame()
for i in res_list1:
    Graphdf1=pd.DataFrame(i)
    Graphdf=Graphdf.append(Graphdf1)
Graphdf.to_csv("Graph2.csv",index=False)

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

In [34]:
#the result is like below for each category the median shortest path
res_list1

[[('English-language_films', 6.0),
  ('American_films', inf),
  ('Fellows_of_the_Royal_Society', 8.0),
  ('People_from_New_York_City', 7.0)],
 [('Black-and-white_films', 7.0),
  ('Year_of_birth_missing', inf),
  ('Place_of_birth_missing_(living_people)', 8.0),
  ('Article_Feedback_Pilot', 6.0)],
 [('Asteroids_named_for_people', inf),
  ('English-language_albums', 7.0),
  ('English_television_actors', 6.0),
  ('British_films', 6.0)],
 [('American_Jews', 7.0),
  ('American_television_actors', 6.0),
  ('American_film_actors', inf),
  ('Debut_albums', 7.0)]]

In [ ]:
d=f.distance_graph2(G,input_category,['American_military_personnel_of_World_War_II', 'Windows_games','Indian_films'],category_dict)
Graphdf=pd.DataFrame()
Graphdf=Graphdf.append(d)
Graphdf.to_csv("Graph3.csv",index=False)

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

<span style="font-family: Babas; font-size: 1.2em;">
 <ul>
 <li>  We runned the previous algorithm that contains the Search of the Shortest Paths using threads for three times.
 This was due to the fact that data were big.
 Input given to the method: graph, input category, list with categories in order to find the shortest paths. 
</li>
    <li>
    Because we runned three times in different moments, we saved three lists with the results in this format:
 (Name of the Category, Rank with the input category with this category);
 </li>
    <li>
 Thus, we merged all the categories with the ranks together.
Below there is the Dataframe related to categories, sorted from the closest one until the furthest one by distance in order to rank categories.
    </li>
</ul>
</span>

In [8]:
dfg=pd.read_csv('Graphdf1.csv')
dfg1 = pd.read_csv('Graphdf2.csv')
dfg2 = pd.read_csv('Graph3.csv')
dfg=dfg.reset_index(drop=True)
dfg = dfg.rename(columns={"0": "Category", "1": "Distance"})
dfg = dfg.sort_values(by='Distance')
dfg = dfg.reset_index(drop=True)

In [ ]:
dfg.to_csv('ranking_table.csv', index = False)

In [5]:
dfg=pd.read_csv('ranking_table.csv')

<span style="font-family: Babas; font-size: 1.2em;">

Last point: We want to keep an information, score, into each node. First, we initialized every node as a negative value, in order to make a check (if we still didn't pass throught that node it will be still a negative number, but if there are no in edges this information will be 0). 

This initialization will be done into G, our original graph.

</span>

In [3]:
G = f.steps(G,category_dict)

HBox(children=(IntProgress(value=0, max=34), HTML(value='')))

In [6]:
from numba import autojit, prange
list1 = []
@autojit
def graphscore(e):
    score_dict={}
    score_dict['Node']=e
    score_dict['Score']=G.node[e]['score']
    score_dict['Category']=G.node[e]['Category']

    return(score_dict)
for e in G:
    list1.append(graphscore(e))

In [7]:
dfscore=pd.DataFrame(list1)
dfscore = dfscore.sort_values(by='Score', ascending=False)
dfscore.head(100)

                                Category     Node  Score
28889               American_film_actors  1163692  70269
47541               American_film_actors  1061504  45756
13009               American_film_actors  1061422  30179
19085               American_film_actors  1061395  29481
24869     Association_football_defenders    85428  26576
65350               American_film_actors  1061446  24563
27653     Association_football_defenders    87523  23699
26523   Association_football_midfielders    84849  23685
2460                American_film_actors  1061427  19298
47928               American_film_actors  1061429  18787
47235                      Living_people  1062039  18324
22511     Association_football_defenders    89878  18196
47929               American_film_actors  1062109  17411
2230                       Living_people  1062025  14476
110221              American_film_actors  1163836  14364
44870               American_film_actors  1061637  14101
31529                      Living_people  1025351  13250
239794                    American_films  1060752  12954
30261     Association_football_defenders    88421  12848
5797    Association_football_midfielders    88793  12844
53001                      Living_people  1061811  12587
23563     Association_football_defenders    87496  11952
210123                     Living_people  1489163  11791
28365     Association_football_defenders    84852  11567
319358                    American_films  1062206  11367
419                        Living_people  1061880  11159
61054                      Living_people  1061916  10926
98788                      Living_people  1061592  10855
17345   Association_football_midfielders    78971  10548
24898     Association_football_defenders   896183  10548
...                                  ...      ...    ...
4405                       Living_people  1061902   6011
94331                      Living_people  1404199   6004
327445                    American_films  1049576   5802
2228                       Living_people  1061960   5796
182792                    American_films  1065879   5692
50462                     American_films  1067459   5678
337341                    American_films  1270782   5677
87052                      Living_people  1061489   5675
160288                    American_films   827905   5675
25002     Association_football_defenders    89628   5539
5862       Association_football_forwards    82058   5520
9958    Association_football_midfielders    83513   5496
28049     Association_football_defenders    83987   5490
319138                    American_films  1065865   5477
354316                    American_films  1264652   5476
336966                    American_films  1064067   5472
5887       Association_football_forwards    83509   5464
182206                    American_films   572526   5464
182205                    American_films   572525   5464
182199                    American_films   572520   5463
182182                    American_films   572508   5463
91104                      Living_people  1163684   5463
182196                    American_films   572517   5463
182207                    American_films   572527   5463
182204                    American_films   572524   5463
182198                    American_films   572519   5463
331761                    American_films  1069678   5463
354314                    American_films  1264648   5463
354321                    American_films  1266885   5463
335052                    American_films  1264649   5463

[100 rows x 3 columns]